{% load static %}
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href = "{% static '/css/style.css' %}" rel = 'stylesheet' async media = "all">
            <link href = "{% static '/css/all.min.css' %}" rel = 'stylesheet' async media = "all">
            <link href = "{% static '/css/fontawesome.min.css' %}" rel = 'stylesheet' async media = "all">

            {% block head %}
            {% endblock head %}
        </head>
        <body>
            <div class = 'wrapper'>
                <div class = 'basic-sec'>
                    <header >
                        <span class = 'logo'>{{app_name}}</span>
                        <span id = 'online-count'>1000</span>
                    </header>
                
                {% block content %}
                {% endblock content %}
                </div>
            </div>
            {% csrf_token %}

        </body>
    </html>